<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="container mb-5">

      <% Debugbar.msg("Rendering navigation") %>

      <nav class="mt-2 mb-4 navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Rails Demo app</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="<%= post_list_path %>">Post List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="<%= random_post_path %>">Random</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="<%= slow_page_path %>">Slow page</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="<%= export_csv_path %>">Export</a>
              </li>
              <li class="nav-item">
                <button type="button" class="nav-link" onclick="fetch('/api/errors?code=404'); fetch('/api/errors?code=401'); fetch('/api/errors?code=500')">Errors</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="mb-5">
        <%= yield %>
      </div>

    </div>

    <%= debugbar_javascript %>
  </body>
</html>
